.retangulo {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    background-color: rgb(84, 161, 192);
    padding: 90px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

.opcoes{
padding: 10px;
}

.opcoes a{
    color: rgb(0, 0, 0);
    padding: 10px;

}

.opcoes a:hover{
    color: aliceblue;
    transition: 0.5s all; 
}
 
.inicio{
    margin: 250px;
}



.column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
}
.column img {
    margin-top: 10px;
    width: 300px;
}

footer {
    text-align: center;
    color: black;
    border-top: 2px solid black;
}

footer p {
    text-align: center;
}

.objetivos  h2{
    margin-top: auto;
    text-align: center;
    background-color:  rgb(84, 161, 192);
}
